manifest {
    name            = 'nf-cnv'
    author          = 'Rodrigo Gularte Mérida'
    homePage        = 'https://github.com/your-org/nf-cnv'
    description     = 'Nextflow pipeline for single-cell copy number variation analysis'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=22.10.0'
    version         = '1.0.0'
}
