// Base configuration for SC-CNV pipeline
params {
    // Input/Output paths (overridden by project config)
    seqdata = "${launchDir}/seqdata"
    outdir = "${launchDir}"
    sample_pattern = ".*"
    
    // Barcode file location
    barcode_file = "${launchDir}/nf_cnv/assets/barcode.192.txt"

     
    // Genome indices
    genome_indices = [
        'hsa37': '/data1/singers/genomes/homo_sapiens/Ensembl/GRCh37.p13/Sequence/bwa_index/b37.fasta',
        'hsa38': '/data1/singers/genomes/homo_sapiens/Ensembl/GRCh38.p5/Sequence/BWAIndex/GRCh38.d1.vd1.fa',
        'pdx37': '/data1/singers/genomes/mus_musculus/mm10/Sequence/hg19_mm10_pdx/hg19_mm10.fa',
        'mm10': '/data1/singers/genomes/mus_musculus/mm10/Sequence/BWAIndex/GRCm38.p6.fa',
        'mm38': '/data1/singers/genomes/mus_musculus/mm10/Sequence/BWAIndex/GRCm38.p6.fa',
        'mm39': '/data1/singers/genomes/mus_musculus/mm39/Sequence/BWAIndex/mm39.fa'
    	]
    
    // Reference genome FASTA files for QC
    genome_fasta = [
        'hsa37': '/data1/singers/genomes/homo_sapiens/Ensembl/GRCh37.p13/Sequence/bwa_index/b37.fasta',
        'hsa38': '/data1/singers/genomes/homo_sapiens/Ensembl/GRCh38.p5/Sequence/BWAIndex/GRCh38.d1.vd1.fa',
        'pdx37': '/data1/singers/genomes/mus_musculus/mm10/Sequence/hg19_mm10_pdx/hg19_mm10.fa',
        'mm10': '/data1/singers/genomes/mus_musculus/mm10/Sequence/BWAIndex/GRCm38.p6.fa',
        'mm38': '/data1/singers/genomes/mus_musculus/mm10/Sequence/BWAIndex/GRCm38.p6.fa',
        'mm39': '/data1/singers/genomes/mus_musculus/mm39/Sequence/BWAIndex/mm39.fa'
    	]

    // Reference genome FASTA files for QC
    genome_faidx = [
        'hsa37': '/data1/singers/genomes/homo_sapiens/Ensembl/GRCh37.p13/Sequence/bwa_index/b37.fasta.fai',
        'hsa38': '/data1/singers/genomes/homo_sapiens/Ensembl/GRCh38.p5/Sequence/BWAIndex/GRCh38.d1.vd1.fa.fai',
        'pdx37': '/data1/singers/genomes/mus_musculus/mm10/Sequence/hg19_mm10_pdx/hg19_mm10.fa.fai',
        'mm10': '/data1/singers/genomes/mus_musculus/mm10/Sequence/BWAIndex/GRCm38.p6.fa.fai',
        'mm38': '/data1/singers/genomes/mus_musculus/mm10/Sequence/BWAIndex/GRCm38.p6.fa.fai',
        'mm39': '/data1/singers/genomes/mus_musculus/mm39/Sequence/BWAIndex/mm39.fa.fai'
    	]

    // Reference genome FASTA files for QC
    genome_dict = [
        'hsa37': '/data1/singers/genomes/homo_sapiens/Ensembl/GRCh37.p13/Sequence/bwa_index/b37.dict',
        'hsa38': '/data1/singers/genomes/homo_sapiens/Ensembl/GRCh38.p5/Sequence/BWAIndex/GRCh38.d1.vd1.dict',
        'pdx37': '/data1/singers/genomes/mus_musculus/mm10/Sequence/hg19_mm10_pdx/hg19_mm10.dict',
        'mm10': '/data1/singers/genomes/mus_musculus/mm10/Sequence/BWAIndex/GRCm38.p6.dict',
        'mm38': '/data1/singers/genomes/mus_musculus/mm10/Sequence/BWAIndex/GRCm38.p6.dict',
        'mm39': '/data1/singers/genomes/mus_musculus/mm39/Sequence/BWAIndex/mm39.dict'
    	]


    // FastQ Screen Parameters
    run_fastq_screen = true                    // Enable/disable FastQ Screen
    fastq_screen_subset = 1000000             // Downsample to 1M reads
    fastq_screen_config = "${launchDir}/nf_cnv/conf/fastq_screen.conf" // path to fastq_screen config file
    
    // Picard MarkDuplicates options
    no_optical_duplicates = false              // Set to true to disable optical duplicate detection
    optical_duplicate_pixel_distance = 2500   // Pixel distance for optical duplicates (when enabled)

    // Post-alignment options
    use_reverse_reads = false               // if true, clip r2 instead of r1

    // Alignment Parameters
    minimum_read_count = 500000               // Minimum number of reads to process

    // BAM QC Parameters
    run_bam_qc = true                         // Enable/disable BAM QC
    qualimap_memory = '16.GB'                // Memory for QualiMap
    run_lc_extrap = false                      // library complexity extrapolation (if sequenced at higher coverage ; fails in most single-cell data)

    // CNV Analysis Parameters
    run_cnv_analysis = true                              // Set to false to skip CNV analysis
    varbin_supported_genomes = ['hsa37', 'hsa38']       // 
    
    cna_utils_path = "/usersoftware/singers/cna_utils"  // Path to cna_utils installation
    min_ploidy = 1.8                                   // Minimum ploidy for CNV calling
    max_ploidy = 4.8                                  // Maximum ploidy for CNV calling
    cnv_resolutions = [5, 20, 50]                    // Resolution in kb for CNV analysis
    cnv_summary_grouping = "resolution"             // Default grouping for summaries
    aggregate_seg_memory = '32.GB'                 // Can be overridden per project

    // MultiQC Parameters
    run_multiqc = true                    // Enable MultiQC report generation

    // Output parameters
    // md_bam are always published ; they can recreate any other cell file
    publish_merged_fastq = false         // CAT_FASTQ: merged/
    publish_cell_fastq = false           // BARCODE_SPLIT: wsplit/
    publish_dd_bam = false               // REMOVE_DUPLICATES: PE.dd.bam
    publish_fw_bam = false               // FILTER_AND_EXTRACT_READS: PE_FW.bam
    publish_varbin_outputs = false       // All varbin outputs (5k, 20k, 50k)
}


// Pipeline metadata
manifest {
    name = 'nf-cnv'
    description = 'Nextflow pipeline for single-cell copy number variation analysis'
    author = 'Rodrigo Gularte Mérida'
    version = '1.0.0'
    mainScript = 'main.nf'
    nextflowVersion = '>=22.10.0'
}
