// Base configuration
params {
    seqdata = "${launchDir}/seqdata"
    outdir = "${launchDir}"
    sample_pattern = ".*"
}

process {
    cpus = 1
    memory = '4 GB'
    time = '2h'
    
    withName: CAT_FASTQ {
        cpus = 2
        memory = '8 GB'
        time = '4h'
        publishDir = [
            path: { "${params.outdir}/results/merged" },
            mode: 'copy'
        ]
    }
    
    withName: VERIFY_FASTQ_PAIRS {
        cpus = 1
        memory = '2 GB'
        time = '1h'
    }
    
    withName: AGGREGATE_VERIFICATION {
        cpus = 1
        memory = '1 GB'
        time = '30m'
    }
}

manifest {
    name = 'nf-cnv'
    description = 'A Nextflow pipeline for processing single-cell data for copy number variation analysis'
    author = 'Rodrigo Gularte Mérida'
    version = '0.1.0'
}
