process {
    withName: CAT_FASTQ {
        publishDir = [
            path: { "${params.outdir}/results/merged" },
            mode: 'copy',
            pattern: "*.fastq.gz",
	    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]   
    }	    

      withName: FASTQC {
      publishDir = [
          path: { "${params.outdir}/results/qc/fastqc" },
	  mode: 'copy', pattern: "*.{html,zip}",
	  saveAs: { fn -> fn == 'versions.yml' ? null : fn }
	  ]
    }
        
    withName: FASTQSCREEN_FASTQSCREEN {
        cpus = 4
        memory = '64.GB'
        time = '8.h'
        publishDir = [
            path: { "${params.outdir}/results/qc/fastq_screen" },
            mode: 'copy',
            pattern: '*.{html,txt,png}'
        ]
    }
    
    withName: MARK_DUPLICATES {
    publishDir = [
        path: { "{params.outdir}/results/bwa_out_md" },
        mode: 'copy',
    	pattern: "*.{params.genome}.PE.md.bam*"
    	]
    }

    withName: REMOVE_DUPLICATES {
    publishDir = [
        path: { "{params.outdir}/results/bwa_out_dd" },
	mode: 'copy',
	pattern: "*.{params.genome}.PE.dd.bam*"
	]
    }

    withName: QUALIMAP_BAMQC {
        cpus = 2
        memory = '16.GB'
        time = '4.h'
        publishDir = [
            path: { "${params.outdir}/results/qc/qualimap" },
            mode: 'copy'
        ]
    }
    
    withName: PICARD_COLLECTMULTIPLEMETRICS {
        cpus = 1
        memory = '8.GB'
        time = '2.h'
        publishDir = [
            path: { "${params.outdir}/results/qc/picard_metrics" },
            mode: 'copy'
        ]
    }
    
    withName: PICARD_COLLECTINSERTSIZEMETRICS {
        cpus = 1
        memory = '4.GB'
        time = '1.h'
        publishDir = [
            path: { "${params.outdir}/results/qc/insert_size" },
            mode: 'copy'
        ]
    }
    
    withName: SAMTOOLS_FLAGSTAT {
        cpus = 1
        memory = '2.GB'
        time = '30.min'
        publishDir = [
            path: { "${params.outdir}/results/qc/flagstat" },
            mode: 'copy'
        ]
    }
    
    withName: SAMTOOLS_STATS {
        cpus = 1
        memory = '2.GB'
        time = '30.min'
        publishDir = [
            path: { "${params.outdir}/results/qc/samtools_stats" },
            mode: 'copy'
        ]
    }
    
    withName: SAMTOOLS_IDXSTATS {
        cpus = 1
        memory = '1.GB'
        time = '15.min'
        publishDir = [
            path: { "${params.outdir}/results/qc/idxstats" },
            mode: 'copy'
        ]
    }
}
