process {
    withName: CAT_FASTQ {
        publishDir = [
            path: { "${params.outdir}/results/merged" },
            mode: 'copy',
            pattern: "*.fastq.gz",
	    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]   
    }	    

      withName: FASTQC {
      publishDir = [
          path: { "${params.outdir}/results/qc/fastqc" },
	  mode: 'copy', pattern: "*.{html,zip}",
	  saveAs: { fn -> fn == 'versions.yml' ? null : fn }
	  ]
    }    				

    withName: MARK_DUPLICATES {
    publishDir = [
        path: { "{params.outdir}/results/bwa_out_md" },
        mode: 'copy',
    	pattern: "*.{params.genome}.PE.md.bam*"
    	]
    }

    withName: REMOVE_DUPLICATES {
    publishDir = [
        path: { "{params.outdir}/results/bwa_out_dd" },
	mode: 'copy',
	pattern: "*.{params.genome}.PE.dd.bam*"
	]
    }
}
