// SLURM configuration for HPC cluster
process {
    executor = 'slurm'
    queue = 'cpu'
    clusterOptions = '--account=singers'
    
    withName: DISCOVER_FASTQ_FILES {
        cpus = 1
        memory = '2 GB'
        time = '30m'
    }
    
    withName: CAT_FASTQ {
        cpus = 4
        memory = '16 GB'
        time = '4h'
    }
    
    withName: VERIFY_FASTQ_PAIRS {
        cpus = 1
        memory = '4 GB'
        time = '1h'
    }
    
    withName: AGGREGATE_VERIFICATION {
        cpus = 1
        memory = '2 GB'
        time = '30m'
    }
}

executor {
    $slurm {
        queueSize = 100
        submitRateLimit = '10 sec'
    }
}
